{% extends('template.html') %}
{% block body %}
<div style = 'width: 500px'>
	<label>Login</label><br>
	<input id = 'login'><br>

	<label>Password</label><br>
	<input id = 'password' type = password><br>

	<input type = button value = 'Submit' onclick = 'signin()'>
</div>
<script>
function signin()
{
	data = '{ "action": "signin", "params": { "login": "' + $('#login').val() + '", "password": "' + $('#password').val() + '"} }';
	callback = function(data)
	{
		if(data.result == 'ok')
		{

		}
	}
	send(data, callback);
}
</script>
{% endblock %}